<div class="container p-4">
  <h2 class="text-danger">Reactive Forms</h2>

  <form (ngSubmit)="saveForm()" [formGroup]="signUpForm">
    <div formGroupName="userPersonalData">
      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" formControlName="username" class="form-control" id="username" placeholder="User name">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small *ngIf="signUpForm.get('userPersonalData.email').invalid && signUpForm.get('email').touched" id="emailHelp" class="form-text text-danger">Provide Email</small>
      </div>
    </div>
    <div class="form-check">
      <input formControlName="gender" value="male" type="radio" name="gender" class="form-check-input" id="male">
      <label class="form-check-label" for="male">Male</label>
    </div>

    <div class="form-check">
      <input formControlName="gender" value="female" type="radio" name="gender" class="form-check-input" id="female">
      <label class="form-check-label" for="female">Female</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3" type="submit">Submit</button>
  </form>
</div>